.curriculum {
    border-bottom: 2px solid var(--detail-color);
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    padding: 0px 0 10px 0;
    color: var(--text-color);
}