section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation h1{
    color: var(--text-color);
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.curriculum {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 40px 20px;
    padding: 20px;

    h2 {
        font-size: 2em;
        margin-bottom: 20px;
        color: var(--secondary-color);
    }

    ul {
        list-style: none;
        width: 50%;
        
        li {
            font-size: 1.1em;
            color: var(--text-color);
            margin-bottom: 8px;
        }

        .date {
            color: var(--detail-color);
        }   
    }
    
    @media only screen and (max-width:800px) {
            flex-direction: column;
            align-items: flex-end;
            
            h2 {
                align-items: flex-start;
                width: 100%;
            }
            ul {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
    }
}